/* ===================== HEADER =========================== */
header li {
  display: inline-flex;
  margin-right: 1em;
}
header a {
	text-decoration: none;
	background-color: rgb(255, 227, 71);
	color: rgb(9, 172, 58);
	padding: .5em .7em;
}



/* ===================== FOOTER =========================== */
.footer {
  /* pose un problème */
  /* position: fixed;
  left: 0;
  bottom: 0;
  right: 0; */
  /* width: 100%; */
  /* background: rgb(255, 197, 146); */
  /* color: rgb(2, 2, 2); */
  text-align: center;
}
.footer p {
  padding: 0.5em 0;
}

/* ===================== FORM =========================== */
label {
  display: inline-block;
  width: 15em;
	margin-bottom: 1em;
	margin-top: 1em;
}
input[type=submit] {
  /* color:red; */
  margin: 1em .5em;
}
/* ===================== MSG FOR USERS =========================== */
.error {
  width: 50%;
  padding: 1em;
  background-color: red;
  border-radius: 10px;
  color: white;
}
.success {
  width: 50%;
  padding: 1em;
  background-color: rgb(14, 224, 14);
  border-radius: 10px;
  color: white;
}
/* ===================== ... =========================== */
/* ===================== ... =========================== */
/* ===================== ... =========================== */
/* ===================== ... =========================== */
/* ===================== ... =========================== */
/* ===================== ... =========================== */
