/* ===================== HEADER =========================== */
header li {
  display: inline-flex;
  margin-right: 1em;
}
header a {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.548);
	color:white;
	padding: .5em .7em;
}
header a:hover {
	background-color: rgba(0, 0, 0, 0.137);
}
#logo {
  height: 9em;
  background: center no-repeat url('../images/logo_crop.jpg');
  background-size: contain;
}
.nav {
  width: 100vh;
}
/* ===================== FOOTER =========================== */
.footer {
  text-align: center;
}
.footer p {
  padding: 0.5em 0;
}

/* ===================== FORM =========================== */
label {
  display: inline-block;
  width: 15em;
	margin-bottom: 1em;
	margin-top: 1em;
}
input[type=submit] {
  margin: 1em .5em;
}
/* ===================== MSG FOR USERS =========================== */
.error {
  width: 50%;
  padding: 1em;
  background-color: red;
  border-radius: 10px;
  color: white;
}
.success {
  width: 50%;
  padding: 1em;
  background-color: rgb(14, 224, 14);
  border-radius: 10px;
  color: white;
}
/* ===================== PLANNING-TABLE =========================== */
table, td, th {
  border: 1px solid black;
  padding: 2em
}
td {
  border-radius: 0 2em;
  padding: 1em;
}
.calendar__nav {
  height: 4em;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.calendar__table {
  width: 100%;
  height: 110vh;
}   
.calendar__table th, .calendar__table td {
  padding: 10px;
  border: 2px solid #aaa;
  vertical-align: top;
  width: 11%;
}
.calendar__table tr {
  height: 3em;
}
.calendar__weekday {
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}
.calendar__weekend {
  width: 10px;
}
.calendar__day {
  font-size: 1.3em;
}
td a {
  color: white;
}
td a:hover {
  color: rgb(255, 0, 0);
  cursor: help;
}

/* ===================== RESERVATIONS =========================== */
.reservation {
  height: calc(100vh - 350px);
  border: 2px solid black;
  padding: 1.5em 1em;
}
.reservation p {
  font-size: 1.1em;
  margin: 1.5em 0;
}
.reservationTitre {
  font-size: 1.2em;
  font-weight: bold;
}
.info {
  text-decoration: underline;
  font-size: 1.2em;
}
.loginReserv {
  font-style: italic;
}
/* ===================== ... =========================== */
/* ===================== ... =========================== */
/* ===================== ... =========================== */